#calculator-container {
    font-size: 36px;
    width: min-content;
}

button {
    font-size: 36px;
    width: 2em;
    height: 2em;
    margin: 4px;
}

.btn-row {
    display: flex;
    flex-wrap: nowrap;
}

#enter-button {
    flex-grow: 1;
}